* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background:black;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

.updown{
    color:red;
    position:absolute;
    bottom: 20%;
    font-size:150px;
    background-color:#320000;
    width:150px;
    text-align:center;
}
#up{
    right: 5%;
}
#down{
    left: 5%;
}

.btn {
    bottom: 50px;
    position: fixed;
    text-align: center;
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    background-color:#4B946A;
    padding:5px;
    font-size: 20px;
}
#nfc.btn{
    left: 50px;
}
#gyro.btn{
    right: 50px;
}
.btn small{
    font-size: 15px;
}
